{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Emotify</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    <style>
      .audio-button {
        margin: 0;
        font: inherit;
        color: inherit;
        -webkit-appearance: button;
        cursor: pointer;
        padding: 0;
        height: 0;
        font-family: inherit;
        font-size: inherit;
      }
      @media (min-width: 768px) {
        .container1 {
          width: 750px;
        }
      }
      .container1 {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
      }
    </style>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js"></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"
    ></script>
    <noscript>
      <link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}"
    /></noscript>
    <link
      href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/beats-main.css' %}"
      type="text/css"
      media="all"
    />
  </head>

  <body class="is-preload">
    <!-- <div class="ch-username fronte">
    <div class="content">
      <video id="webcam" autoplay playsinline width="900" height="600"></video>
    </div>
  </div> -->
    <!-- Navbar -->
    <nav id="navbar" class="navbar">
      <a href="{% url 'home' %}" class="navbar-brand">Emotify</a>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="#css">Playlist</a></li>
        <li><a href="{% url 'account' %}">Hello {{ username }}</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
      <button class="navbar-toggler">
        <span></span>
      </button>
    </nav>

    <section id="header" class="dark">
      <header>
        <h1 style="color: white">Welcome to Emotify</h1>
        <p>Play Songs based on your emotions</p>
      </header>
      <ul class="actions special">
        <li>
          <a
            id="detectface"
            href="{% url 'detectface' %}"
            style="z-index: 5"
            class="button"
            >Detect your face</a
          >
        </li>
      </ul>
    </section>

    <div class="audio-player-area">
      <div class="container1">
        <div class="musica-audio-player">
          <div
            id="musica-audio-player-container"
            class="jp-video"
            role="application"
            aria-label="media player"
          >
            <div class="jp-type-playlist">
              <div class="audio-table">
                <div class="jp-controls">
                  <button class="jp-previous audio-button"></button>
                  <button class="jp-play audio-button"></button>
                  <button class="jp-next audio-button"></button>
                </div>
                <div class="jp-gui">
                  <div class="jp-interface">
                    <div class="jp-progress">
                      <div class="jp-seek-bar">
                        <div class="jp-play-bar"></div>
                      </div>
                    </div>
                    <div class="jp-duration" role="timer" aria-label="duration">
                      &nbsp;
                    </div>
                    <button
                      style="color: white"
                      class="audio-playlist audio-button"
                    >
                      ...
                    </button>
                  </div>
                </div>
                <div class="jp-volume-controls">
                  <button class="jp-mute audio-button"></button>
                  <button class="jp-volume-max audio-button"></button>
                </div>
                <div class="jp-details">
                  <div class="jp-title" aria-label="title">&nbsp;</div>
                </div>
                <div id="musica-jquery-jplayer" class="jp-jplayer"></div>
              </div>
              <div class="audio-playlist-wrapper">
                <div class="container1" id="playlist-wrapper">
                  <div class="jp-playlist nicescroll-active">
                    <ul>
                      <li></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vc_row-full-width vc_clearfix"></div>
    <!-- Wrapper -->

    <!-- Main -->
    <div class="background-album">
      <div class="container">
        <section>
          <h2 id="header" style="font-size: 24px; margin-top: 3%">
            Recent Album
          </h2>
          <br />

          <div class="col-md-4">
            <div class="album-item">
              <a href="aesthethica">
                <img
                  class="album-cover"
                  src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/artistic-album-cover-design-template-d12ef0296af80b58363dc0deef077ecc_screen.jpg?ts=1561488440"
                  alt="Aesthethica"
                />
                <div class="overlay base-gradient-bg"></div>
                <h3 class="heading">Aesthethica</h3>
                <span class="sub-heading"> Judas Priest </span>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="album-item">
              <a href="aesthethicaliturgy">
                <img
                  class="album-cover"
                  src="https://upload.wikimedia.org/wikipedia/en/8/80/Eminem_-_Music_to_Be_Murdered_By.png"
                  alt="Aesthethica Liturgy"
                />
                <div class="overlay base-gradient-bg"></div>
                <h3 class="heading">Aesthethica Liturgy</h3>
                <span class="sub-heading"> Judas Priest </span>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="album-item">
              <a href="wounded-rhymes">
                <img
                  class="album-cover"
                  src="https://d2ct9xspam8wud.cloudfront.net/blog/2019/10/14162246/dreamer-1024x1024.jpg"
                  alt="Wounded Rhymes"
                />
                <div class="overlay base-gradient-bg"></div>
                <h3 class="heading">Wounded Rhymes</h3>
                <span class="sub-heading"> Judas Priest </span>
              </a>
            </div>
          </div>
          <ul class="actions special">
            <li>
              <a href="{% url 'home' %}" style="z-index: 5" class="button"
                >See more</a
              >
            </li>
          </ul>
        </section>

        <div class="vc_row-full-width vc_clearfix"></div>
      </div>
      <!-- .container  -->
    </div>

    <br /><br />
    <!-- Footer -->
    <footer id="footer">
      <ul class="copyright">
        <li>&copy; Emotify</li>
      </ul>
    </footer>

    <!-- Scripts -->
    <script>
      if ("addEventListener" in window) {
        window.addEventListener("load", function () {
          document.body.className = document.body.className.replace(
            /\bis-preload\b/,
            ""
          );
        });
        document.body.className += navigator.userAgent.match(/(MSIE|rv:11\.0)/)
          ? " is-ie"
          : "";
      }
    </script>
    <script>
      const navbarToggler = document.querySelector(".navbar-toggler");
      const navbarMenu = document.querySelector(".navbar ul");
      const navbarLinks = document.querySelectorAll(".navbar a");

      navbarToggler.addEventListener("click", navbarTogglerClick);

      function navbarTogglerClick() {
        navbarToggler.classList.toggle("open-navbar-toggler");
        navbarMenu.classList.toggle("open");
      }

      navbarLinks.forEach((elem) =>
        elem.addEventListener("click", navbarLinkClick)
      );

      function navbarLinkClick() {
        if (navbarMenu.classList.contains("open")) {
          navbarToggler.click();
        }
      }
    </script>
    <script>
      var myNav = document.getElementById("navbar");

      window.onscroll = function () {
        "use strict";
        if (
          document.body.scrollTop >= 28 ||
          document.documentElement.scrollTop >= 28
        ) {
          myNav.classList.add("scroll");
        } else {
          myNav.classList.remove("scroll");
        }
      };
    </script>
    <script
      type="text/javascript"
      src="{% static 'assets/js/jquery.smartmenus.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'assets/js/jquery.nicescroll.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'assets/js/jquery.jplayer.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'assets/js/jplayer.playlist.min.js' %}"
    ></script>
    <script type="text/javascript">
      jQuery(document).ready(function ($) {
        "use strict";
        var emote = String("{{ emotion }}");
        if (emote === "Happy") {
        new jPlayerPlaylist(
          {
            jPlayer: "#musica-jquery-jplayer",
            cssSelectorAncestor: "#musica-audio-player-container",
          },
          [
            {
              title: "Cro Magnon Man",
              artist: "<span class='music-time'>4:28</span>",
              mp3:
                "http://preview.enroutedigitallab.com/beats/wp/wp-content/uploads/2017/07/TSP-01-Cro_magnon_man.mp3",
            },
          ],
          {
            playlistOptions: {
              autoPlay: false,
              loopOnPrevious: true,
              shuffleOnLoop: true,
              enableRemoveControls: true,
              displayTime: "show",
              freeItemClass: "jp-playlist-item-free",
            },
            swfPath: "js/jquery.jplayer.swf",
            supplied: "oga, mp3",
            wmode: "window",
            useStateClassSkin: true,
            autoBlur: true,
            smoothPlayBar: true,
            keyEnabled: true,
            remainingDuration: true,
            volume: 1,
          }
        );
        }
        if (emote === "Neutral") {
        new jPlayerPlaylist(
          {
            jPlayer: "#musica-jquery-jplayer",
            cssSelectorAncestor: "#musica-audio-player-container",
          },
          [
            {
              title: "Your Face",
              artist: "<span class='music-time'>2:56</span>",
              mp3:
                "http://preview.enroutedigitallab.com/beats/wp/wp-content/uploads/2017/07/TSP-05-Your_face.mp3",
            },
           ],
          {
            playlistOptions: {
              autoPlay: false,
              loopOnPrevious: true,
              shuffleOnLoop: true,
              enableRemoveControls: true,
              displayTime: "show",
              freeItemClass: "jp-playlist-item-free",
            },
            swfPath: "js/jquery.jplayer.swf",
            supplied: "oga, mp3",
            wmode: "window",
            useStateClassSkin: true,
            autoBlur: true,
            smoothPlayBar: true,
            keyEnabled: true,
            remainingDuration: true,
            volume: 1,
          }
        );
        }
      });
    </script>
    <script
      type="text/javascript"
      src="{% static 'assets/js/beats-main.js' %}"
    ></script>
  </body>
</html>
