{% load static %}
<!DOCTYPE HTML>
<html>

<head>
	<title>Emotify</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	<script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js'></script>
	<noscript>
		<link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<section id="main">
			<h2>Sign up</h2>
			<hr />
			<!-- <span class="avatar"><img src="images/DSC06030.jpg" alt="" /></span>  -->
			<form method="post" action="signup" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="fields">

					<div class="field">
						<input type="text" name="first_name" id="first_name" placeholder="first name"/>
					</div>
					<div class="field">
						<input type="text" name="last_name" id="last_name" placeholder="last name"/>
					</div>
					<div class="field">
						<input type="email" name="email" id="email" placeholder="Email" />
					</div>
					<div class="field">
						<input type="password" name="password" id="password" placeholder="Password" />
					</div>
					<div class="field">
						<input type="password" name="re_password" id="re_password" placeholder=" re-enter password" />
					</div>
					<div class="field">
						<input type="file" style="width:100%" placeholder="Upload your profile pic" name="user_profile_img" id="user_profile_img" />
					</div>
                    {% if message != "" %}
                    <div class="field">
                        <h5>{{ message }}</h5>
                    </div>
                    {% endif %}
				</div>
				<a href="{% url 'login' %}"><h5>Already have an Account?</h5></a>
				<ul class="actions special">
					<li><input type="submit" value="Get Started" class="button"></li>
				</ul>
			</form>
			<hr />
		</section>

		<!-- Footer -->
		<footer id="footer">
			<ul class="copyright">
				<li>&copy; Emotify</li>
			</ul>
		</footer>
	</div>
	<!-- Scripts -->
	<script>
		if ('addEventListener' in window) {
			window.addEventListener('load', function () { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
			document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
		}
	</script>

</body>

</html>